<nav class="navbar navbar-expand-lg">
  <div class="d-flex container-fluid" style="color: #fff">
    <div class="d-flex flex-row w-100">
      <div class="d-flex flex-colum justify-content-start flex-grow-1">
        <a class="navbar-brand" href="#">
          <h1>William Le</h1>
        </a>
      </div>

      <div class="d-flex flex-column">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a
              class="nav-link"
              aria-current="page"
              href="#"
              [class.active]="currentUrl === '/home'"
              >Home</a
            >
            <a
              class="nav-link"
              href="/resume/pages/about-me"
              [class.active]="currentUrl === '/pages/about-me'"
              >About me</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
