<div class="d-flex flex-row"
  style="
    padding: 0;
    min-height: 100vh;
  "
>
  <div class="d-flex flex-column justify-content-start align-items-center flex-shrink-0 pt-4"
       style="width: 300px; position: sticky; top: 0; align-self: flex-start; height: 100vh;">
    <img src="assets/images/will.jpeg" style="width: 150px; border-radius: 50%; margin-bottom: 1rem;" />
    <i>Graduation Day 2022</i>
  </div>

  <div class="d-flex flex-column justify-content-start align-items-start flex-grow-1 pt-4"
    style="
      flex-basis: 1000px;
      max-width: 1800px;
    "
  >
    <section id="about" class="container">
      <h3 class="mb-4">About Me</h3>
      <p>👋 Hi there! I’m <strong>Will</strong>, a full-stack software engineer with a background in <strong>Math and Astronomy</strong>. I earned my <strong>Bachelor's degree in Computer Science</strong> from New Mexico State University, where I also minored in Astronomy.</p>
    
      <p>I’m passionate about building software that solves real-world problems and creates practical value. I currently work at a software company in <strong>El Paso, Texas</strong>, where I'm helping build a <strong>logistics web application</strong> using <strong>Vue</strong> and <strong>ASP.NET Core</strong>.</p>
    
      <p>My technical toolkit includes:</p>

      <ul *ngFor="let category of sortedCategories">
        <li>
          <strong>{{ formatCategoryName(category) }}: </strong>
          <span *ngFor="let tech of groupedTechnologies[category]; let i = index">
            {{ tech }}<span *ngIf="i < groupedTechnologies[category].length - 1">, </span>
          </span>
          
        </li>
      </ul>
    
      <p>I’m always looking to grow as a developer and explore new technologies that improve the way we build and interact with software.</p>
    
      <p>When I’m not coding, you’ll find me diving into RPG and strategy games, reading science fiction and fantasy novels, or planning to adopt my future sidekick—a baby black cat. 🐾</p>
    
      <p>Thanks for stopping by!</p>
    </section>

    <section id="experience" class="container">
      <h3 class="mb-4">Professional Experience</h3>
      <div class="accordion accordion-flush" id="timelineAccordion">
        <!-- Job -->
        <div class="accordion-item" *ngFor="let job of professional_experience; let i = index">
          <h2 class="accordion-header" [id]="'jobHeader' + i">
            <button
              class="accordion-button collapsed"
              type="button"
              aria-expanded="false"
              data-bs-toggle="collapse" 
              [attr.data-bs-target]="'#jobCollapse' + i"
            >
              <!-- Title – Company, Location (Duration) -->
              <div class="d-flex flex-column flex-grow-1">{{job.jobTitle}} - {{job.company}}, {{job.location}}</div>
              <div class="d-flex flex-column">{{job.duration}}</div>
            </button>
          </h2>
          <div [id]="'jobCollapse' + i" class="accordion-collapse collapse">
            <div class="accordion-body">
              <div class="accordion .accordion-flush" id="projects" *ngFor="let project of job.projects; let j = index">

                <!-- Project -->
                <div class="accordion-item">
                  <h2 class="accordion-header" [id]="'project' + i + j">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      aria-expanded="false"
                      data-bs-toggle="collapse"
                      [attr.data-bs-target]="'#projectCollapse' + i + j"
                    >
                      <!-- Company - Project Name (Duration) -->
                      <div class="d-flex flex-column flex-grow-1">{{project.company}} - {{project.projectName}}</div>
                      <div class="d-flex flex-column">{{project.duration}}</div>
                    </button>
                  </h2>
                  <div [id]="'projectCollapse' + i + j" class="accordion-collapse collapse">
                    <div class="accordion-body">
                      <p><em>{{project.projectType}}</em></p>
                      <p>
                        <strong>Technologies: </strong>
                        <ng-container *ngFor="let tech of project.technologies">
                          <span
                            class="badge me-1"
                            [ngClass]="{
                              'bg-primary': tech.category === 'FE',
                              'bg-success': tech.category === 'BE',
                              'bg-info': tech.category === 'DB',
                              'bg-warning': tech.category === 'DevOps',
                              'bg-secondary': tech.category === 'Productivity',
                              'bg-dark': tech.category === 'Design',
                              'bg-danger': tech.category === 'Analytics'
                            }"                       
                          >
                            {{tech.name}}
                          </span>
                        </ng-container>
                      </p>
                      <ul *ngFor="let description of project.descriptions">
                        <li>{{description}}</li>
                      </ul>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="education" class="container">
      <h3 class="mb-4">Education</h3>
      <div>
        <div class="d-flex flex-row">
          <span class="d-flex d-column flex-grow-1">
            <h5><strong>New Mexico State University</strong></h5>
          </span>
          <span class="d-flex d-column" style="padding-right: 20px;">
            <p>Jan 2019 – Dec 2022</p>
          </span>
        </div>
        <p><em>Bachelor of Science in Computer Science — Minor in Astronomy</em></p>
        <p><strong>GPA:</strong> 3.87</p>
        <p><strong>Relevant Coursework:</strong></p>
        <ul>
          <li>Data Structures & Algorithms</li>
          <li>Software Engineering</li>
          <li>Database Management Systems</li>
          <li>Compilers</li>
          <li>Operating Systems</li>
          <li>Introduction to AI</li>
          <li>Game Development</li>
        </ul>
      </div>
    </section>

    <section id="contact" class="container">
      <h3 class="mb-4">Contact Me</h3>
      <div class="d-flex flex-row flex-wrap">
        <div class="me-4">
          <a href="mailto:williamle2305@gmail.com" class="contact-link">EMAIL</a>
        </div>
        <div class="me-4">
          <a href="https://www.linkedin.com/in/william-thinh-le/" target="_blank" rel="noopener noreferrer" class="contact-link">
            LINKEDIN
          </a>
        </div>
        <div class="me-4">
          <a href="https://github.com/wontliam" target="_blank" rel="noopener noreferrer" class="contact-link">
            GITHUB
          </a>
        </div>
      </div>
    </section>
  
  </div>

  <div class="d-flex flex-column justify-content-start align-items-center flex-shrink-0 pt-4"
       style="width: 300px; position: sticky; top: 0; align-self: flex-start; height: 100vh;">
       <button type="button" class="btn btn-dark" (click)="onDownloadResume()">Download Resume</button>
  </div>
</div>